<div>
    <h1 style="background-color: rgb(6, 36, 3); color: whitesmoke;text-align: center;padding: 10px;">Forgot Password
        Application</h1>
</div>
<div style="width: 40%; margin: auto;">
    <h3 style="background-color: rgb(60, 7, 160); color: whitesmoke;text-align: center;padding: 10px;">Login</h3>
    <div style="width: 80%;margin: auto;">
        <form action="" [formGroup]="loginForm" style="width: 100%;">
            <label for="">Email</label><br>
            <input type="email" name="" id="" formControlName="email"><br><br>
            <label for="">Password</label><br>
            <input type="password" name="" id="" formControlName="password"><br><br>
            <a routerLink="/forgot-password" >Forgot password</a>
            <br><br>
            <button
                style="background-color: green;color: white; padding: 5px;border-radius: 10px; text-align: center; width: 60%;"
                (click)="loginuser()">login</button>
        </form><br>
        <div>
            <a href="register">You don't have an account Register here</a>
        </div>
    </div>
</div>