<div style="width: 50% ;margin: auto;">
    <div class="" style="color: rgb(97, 6, 209);padding: 1px; text-align: center;margin-top: 40px;">
        <h3>Forgot Password</h3>
    </div><br>
    <div style="width: 50%; margin: auto;">
        <form (ngSubmit)="onSubmit()">
            <div>
                <label for="email">Email:</label><br><br>
                <input type="email" id="email" name="email" [(ngModel)]="email" required><br><br>
            </div><br>
            <button style="width: 60%; padding: 5px;border-radius: 10px; background-color: lightcoral;"
                type="submit">Send Password Reset Link</button>
        </form>
    </div>
    <div *ngIf="message" style="margin-top: 30px;background-color: green; color: white;padding: 10px; text-align: center;">
        {{ message }}
    </div>

</div>